[Unit]
Description=Lissa Project Service
After=sound.target

[Service]
ExecStart=/full/path/to/run.sh
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=multi-user.target
